 <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="javascript:void(0)">Logo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
        <a class="nav-link active" routerLink="users">User</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="data-binding">Data Binding</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="signal">Signal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="control-flow">Control Flow</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="attribute-dir">Attribute Directive</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="get-api">Get API Example</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="user-reactive">User (Reactive Forms)</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="pipes-example">Pipes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="resource-api">Resource API</a>
        </li>
      </ul>
      <form class="d-flex">
        @if (loggedUserName == "") 
        {
          <button class="btn btn-primary" routerLink="login" type="button">Login</button>
        } @else {
          <button class="btn btn-warning" type="button">{{loggedUserName}}</button>
          <button class="btn btn-primary" type="button" (click)="onLogoff()">Logoff</button>
        }
      </form>
    </div>
  </div>
</nav> 

<router-outlet></router-outlet>