<div class="row">
    <div class="col-6">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Website</th>
                    <th>User Name</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                @for (user of userList; track $index) {
                    <tr>
                        <td>{{user.name}}</td>
                        <td>{{user.website}}</td>
                        <td>{{user.username}}</td>
                        <td>{{user.email}}</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>