<div class="row">
    <div class="col-7">
        <div class="card">
            <div class="card-header bg-success">
                User List
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Serial Number</th>
                            <th>Email</th>
                            <th>Full Name</th>
                            <th>Mobile Number</th>
                            <th>Password</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (user of userList; track $index) 
                        {
                            <tr>
                                <td>{{$index + 1}}</td>
                                <td>{{user.emailId}}</td>
                                <td>{{user.fullName}}</td>
                                <td>{{user.mobileNo}}</td>
                                <td>{{user.password}}</td>
                                <td>
                                    <button class="btn btn-primary btn-sm" (click)="onEdit(user)">Edit</button>
                                    <button class="btn btn-danger btn-sm" (click)="onDeleteUser(user.userId)">Delete</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-5">
        <div class="card">
            <div class="card-header bg-success">
                New User
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <label for="">Email</label>
                        <input type="text" [(ngModel)]="userObject.emailId" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="">Password</label>
                        <input type="text" [(ngModel)]="userObject.password" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="">Full Name</label>
                        <input type="text" [(ngModel)]="userObject.fullName" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="">Mobile Number</label>
                        <input type="text" [(ngModel)]="userObject.mobileNo" class="form-control">
                    </div>
                </div>
                <div class="row pt-3">
                    <div class="col-6 text-center">
                        <button class="btn btn-secondary" (click)="onReset()">Reset</button>
                    </div>
                    <div class="col-6 text-center">
                        @if (userObject.userId == 0) {
                            <button class="btn btn-success" (click)="onSaveUser()">Save</button>
                        } @else {
                            <button class="btn btn-warning" (click)="onUpdateUser()">Update</button>
                        }
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>